/*
    Variables
*/

@svg itLamb {
    @rect {
        fill: purple;
        width: 200px;
        height: 200px;
    }
}

@keyframes lambanimations {
    0% {
        border-width: 0px;
    }
    35% {
        border-width: 20px;
    }
    60% {
        border-width: 10px;
    }
    75% {
        border-width: 25px;
    }
}
