/*
    Variables
*/

@svg itLamb {
    @rect {
        fill: purple;
        stroke-width: 25;
        stroke: black;
        width: 150px;
        height: 150px;
    }
}

@keyframes hideshow {
    0% {
        opacity: 1;
    }
    10% {
        opacity: 1;
    }
    15% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
